<p class="animate__animated animate__fadeIn">
	Cold North is a platform for artists to progress through their chosen course and ascension. Based in Barcelona and
	the UK - A management and booking agency, for DJs and Producers with an endless passion for their music world.
	<br><br>
	Our purpose is to give a close circle of talented, emerging artists another voice - using industry experience to
	breathe success together. Working in tandem with labels, venues, promoters, and radio/streaming platforms alike.
	Providing routes into environments internationally with a free and open mindset to give the best experiences for all
	involved.
</p>

<app-socials></app-socials>
