@import '../../../styling/_variables';

:host {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 85px;
	width: 100%;

	h2 {
		text-align: center;
	}
	p {
		margin: auto;
		margin-bottom: 7rem;
		line-height: 35px;
		opacity: 0.9
	}

	@media all and (min-width: $laptops) {
		p {
			max-width: 50%;
		}
	}

	app-socials {
		display: flex;
		width: 100%;
		justify-content: center;
	}
}
