@import "../../../styling/variables";

:host {

	span {
		position: relative;
		top: 11px;
		font-size: 1.2rem;
	}

	.social-links a {
		text-decoration: none;
		opacity: 1;
		font-size: 1em;
		color: $font;
		position: relative;
		top: 12px;
		margin: 15px;

		p {
			margin: 0 !important;
		}

		&:hover {
			opacity: 0.7;
		}
	}
}
