:host {
	.container {
		//display: flex;
		.left {

		}

		.right {
			.socials__container {
				display: flex;
				justify-content: center;
			}
		}

		img {
			display: flex;
			text-align: center;
			margin: 25px auto 50px
		}

		h3 {
			text-align: center;
		}

		h5 {
			text-align: center;
			opacity: 0.4;
		}

		p {
			text-align: center;
			font-size: 1rem;
			margin: 50px;
			font-weight: normal
		}

	}
}
