<div class="container d-md-flex d-lg-flex">
	<div class="left">
		<img alt="{{ artist.name }}" height="500" src="{{ artist.image }}">
	</div>
	<div class="right p-5">
		<h3>{{ artist.name }}</h3>
		<h5>{{ artist.location }}</h5>

		<div class="socials__container">
			<span><a href="{{ artist.residentAdvisorLink }}">Resident Advisor</a></span>
			<span>|</span>
			<span><a href="{{ artist.instagramLink}}"><fa-icon [icon]="faInstagram"></fa-icon></a></span>
			<span>|</span>
			<span><a href="{{ artist.soundcloudLink }}"><fa-icon [icon]="faSoundcloud"></fa-icon></a></span>
		</div>

		<p>{{ artist.description }}</p>

		<p>
			<a href="mailto:{{artist.contact}}">
				<fa-icon [icon]="faMailForward">
				</fa-icon>
			</a>
		</p>
	</div>
</div>
