<div class="container animate__animated animate__fadeIn">
	<div class="row">
		<div *ngFor="let artist of artists" class="col-auto">
			<div class="card p-3 border bg-light">
				<div (mouseover)="isHovering=true" (mouseout)="isHovering=false" class="image-wrapper">
					<img src="{{ artist.fields.image.fields.file.url }}" class="card-img-top" alt="..." (click)="navigateToArtistPage(artist.fields.slug)">
<!--					<p *ngIf="isHovering"> {{ artist.name }} </p>-->
				</div>
			</div>
		</div>
	</div>
</div>


