<div class="logo__container">
	<img routerLink='/artists' src="assets/Cold-North-v2.jpg" alt="cold-north-agency"/>
</div>

<ul class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link" aria-current="page" routerLink='/artists' routerLinkActive='active'>Artists</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink='/music' routerLinkActive='active'>Music</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" routerLink='/about' routerLinkActive='active'>About</a>
	</li>
</ul>
