:host {
	.logo__container {
		display: flex;
		justify-content: center;


		img {
			width: 20rem;
			margin: 45px;
			position: relative;
			cursor: pointer;
		}
	}

	li {
		//border-left: solid 1px #212529;

		&:first-child {
			border-left: none;
		}
	}

	a {
		color: #212529;

		&:hover {
			opacity: 0.5;
		}
	}

	.nav {
		position: relative;
		text-transform: uppercase;
		font-size: 0.8em;

		.active {
			opacity: 0.5;
		}
	}
}
